@inject QuestResourses resourses


@if(Condition != null){
    <div>
        <p>@Condition.Description()</p>
        <p>
            <span>Переменная</span>
            <EnumSelect Hepler="@VariableHelper" />
        </p>
        <p>Значение для сравнения</p>
        <table>
            <tbody>
                <tr>
                    <td><span>Integer</span></td>
                    <td><input type="number" @bind-value="@Condition.ReferenceValue.IValue" /></td>
                    <td><span>Оператор</span></td>
                    <td><EnumSelect Hepler="@IHelper" /></td>
                </tr>
                <tr>
                    <td><span>Float</span></td>
                    <td><input type="number" @bind-value="@Condition.ReferenceValue.FValue" /></td>
                    <td><span>Оператор</span></td>
                    <td><EnumSelect Hepler="@FHelper" /></td>
                </tr>
                <tr>
                    <td><span>Boolean</span></td>
                    <td><input type="checkbox" @bind-value="@Condition.ReferenceValue.BValue" /></td>
                    <td><span>Оператор</span></td>
                    <td><EnumSelect Hepler="@BHelper" /></td>
                </tr>
                <tr>
                    <td><span>String</span></td>
                    <td><input type="text" @bind-value="@Condition.ReferenceValue.SValue" /></td>
                    <td><span>Оператор</span></td>
                    <td><EnumSelect Hepler="@SHelper" /></td>
                </tr>
            </tbody>
        </table>
    </div>
}


@code{

    private ISelectHelper VariableHelper =>  new VariableHelper( resourses.Variables, Condition) ;

    private VariableCondition Condition => CommonCondition as VariableCondition;

    [Parameter]
    public ICondition CommonCondition { get; set; }

    private ISelectHelper IHelper => new VariableComparerHelper(Condition.IngerComparer);
    private ISelectHelper FHelper => new VariableComparerHelper(Condition.FloatComparer);
    private ISelectHelper BHelper => new VariableComparerHelper(Condition.BooleanComparer);
    private ISelectHelper SHelper => new VariableComparerHelper(Condition.StringComparer);
}